---
const today = new Date();
---

<p
  style="color: var(--base03)"
  class="copyright"
>
  Copyright (c) Hayden Young {today.getFullYear()}.
</p>

<p
  style="color: var(--base03)"
  class="advertisement"
>
  Built with <a href="https://astro.build">Astro</a>.
</p>
