---
import { SITE_TITLE } from '../consts';
---

<nav class="border-b border-muted justify-left divide-x divide-muted [&>a]:py-1 [&>a]:px-4 fixed w-full bg-black flex items-center">
  <a href="/" class="flex items-center gap-2 text-[var(--base0A)]">
    { SITE_TITLE }
    <div class="w-[10px] h-[21px] animate-blink bg-pink"></div>
  </a>

  <a class="hover:text-[var(--base0E)]" href="/posts">posts</a>
  <a class="hover:text-[var(--base0E)]" href="https://twitter.com/hayden_dev">twitter</a>
  <a class="hover:text-[var(--base0E)]" href="https://twitch.tv/hayden_dev">twitch</a>
  <a class="hover:text-[var(--base0E)]" href="https://github.com/hbjydev">github</a>
  <a class="hover:text-[var(--base0E)] !border-r border-muted" href="/rss.xml">rss</a>
</nav>
