---
import { SITE_TITLE } from '../consts';
---

<nav class="page__nav main-nav">
    <ul>
      <h1 class="page__logo">
        <a href="/" class="page__logo-inner">{ SITE_TITLE }</a>
      </h1>

      <li class="main-nav__item">
        <a class="nav-main-item" href="/posts">Posts</a>
      </li>

      <li class="main-nav__item">
        <a class="nav-main-item" href="/rss.xml">RSS</a>
      </li>
    </ul>
</nav>
