---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
  title: string;
  description: string;
  image?: string;
  content?: ChildNode;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title ?? SITE_TITLE} description={description ?? SITE_DESCRIPTION} />
  </head>

  <body class="bg-black text-white font-mono tracking-normal leading-normal flex flex-col min-h-screen selection:bg-[var(--base0E)] selection:text-black">
    <div class="flex flex-col flex-grow">
      <Header />

      <main class="mt-20 flex flex-col gap-3 px-5 flex-grow">
        <slot>
      </main>

      <footer class="page__footer">
        <Footer />

        <slot name="footer">
      </footer>
    </div>
  </body>
</html>
