---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
  title: string;
  description: string;
  image?: string;
  content?: ChildNode;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <div class="page">
      <Header />

      <section class="page__body">
        <slot>
      </section>

      <section class="page__aside">
        <About />

        <slot name="aside">
      </section>

      <footer class="page__footer">
        <Footer />

        <slot name="footer">
      </footer>

      <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a651b2be970e42ae99fef0022c3b053d"}'></script>
    </div>
  </body>
</html>
