---
import type { CollectionEntry } from 'astro:content';
import Page from '../components/Page.astro';
import { SITE_TITLE } from '../consts';

type Props = CollectionEntry<'posts'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Page title={`${title} - ${SITE_TITLE}`} description={description}>
  <header class="content__header">
    <h1>{title}</h1>
  </header>

  <aside></aside>

  <div class="content__body">
    <hr />

    <slot />
  </div>

  <footer class="content__footer"></footer>
</Page>
